# Ejercicio - Selección de Variables

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
from category_encoders import OneHotEncoder

pelis = pd.read_csv("data/movies.csv").drop(columns="titulo")
variable_objetivo = "ventas"

# eliminamos las peliculas sin ventas
pelis = pelis[pelis[variable_objetivo].notnull()]

variables_independientes = pelis.drop(variable_objetivo, axis=1).columns
pelis = OneHotEncoder().fit_transform(pelis)

pelis.head()

,genero_1,genero_2,genero_3,genero_4,genero_5,genero_6,genero_7,genero_8,genero_9,genero_10,...,pais_31,pais_32,pais_33,pais_-1,presupuesto,popularidad,ventas,duracion,puntuacion,n_votos
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,8.387519,76578911.0,106.0,5.7,173.0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,0.894647,676525.0,106.0,6.7,13.0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3500000.0,14.569650,28215918.0,91.0,7.0,513.0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,8.963037,32.0,87.0,6.0,124.0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,12000000.0,9.592265,41205099.0,92.0,6.5,767.0

In [3]:
X = Imputer(strategy="mean").fit_transform(pelis.drop(variable_objetivo, axis=1))
y = pelis[variable_objetivo]

### Evaluacion de modelos

In [6]:
from numpy.core.umath_tests import inner1d
from sklearn.model_selection import cross_validate
from sklearn.metrics import mean_squared_error
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression

In [11]:
#Funcion para evaluar el modelo
def rmse(y_real, y_pred):
    return np.sqrt(mean_squared_error(y_real, y_pred))

def rmse_cv(estimator, X, y):
    y_pred = estimator.predict(X)
    return rmse(y, y_pred)

def evaluar_modelo(estimador, X, y):
    resultados_estimador = cross_validate(estimador, X, y,
                     scoring=rmse_cv, n_jobs=-1, cv=10, return_train_score=True)
    return resultados_estimador

In [12]:
#Funcion para ver el resultado
resultados = {}

def ver_resultados():
    resultados_df  = pd.DataFrame(resultados).T
    resultados_cols = resultados_df.columns
    for col in resultados_df:
        resultados_df[col] = resultados_df[col].apply(np.mean)
        resultados_df[col+"_idx"] = resultados_df[col] / resultados_df[col].min()
    return resultados_df

### Crear un Selector KBest con el criterio `f_regression` que seleccione 5 variables , transformar los datos,  y comprobar las dimensiones del nuevo dataset

In [19]:
from sklearn.feature_selection import SelectKBest, f_regression

In [20]:
selector_kbest_5 = SelectKBest(f_regression,k=5)
pelis_x_kbest_5 = selector_kbest_5.fit_transform(X=X,y=y)

In [31]:
pelis.loc[:,selector_kbest_5.get_support()].columns

Index(['productores_177', 'pais_1', 'presupuesto', 'popularidad',
       'puntuacion'],
      dtype='object')

### Crear un Selector RFE y entrenar con un Random Forest con las 20 mejores variables. ¿Que variables son las que se han elegido?

In [34]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFE

In [37]:
estimador_rf_20 = RandomForestRegressor()
selector_rf20_rf = RFE(estimador_rf_20, n_features_to_select=20)
pelis_rf20_rf = selector_rf20_rf.fit_transform(X,y)

In [39]:
pelis_rf20_rf.shape

(1203, 20)

In [40]:
pelis.loc[:,selector_rf20_rf.support_].columns

Index(['genero_1', 'genero_2', 'productores_4', 'productores_5',
       'productores_7', 'productores_12', 'productores_20', 'productores_24',
       'productores_33', 'productores_36', 'productores_53', 'productores_177',
       'productores_414', 'productores_500', 'pais_1', 'presupuesto',
       'popularidad', 'ventas', 'duracion', 'puntuacion'],
      dtype='object')

In [43]:
resultados["pelis_rf20_rf"] = evaluar_modelo(RandomForestRegressor(),pelis_rf20_rf,y)

In [45]:
resultados["pelis_x_kbest_5"] = evaluar_modelo(LinearRegression(),pelis_x_kbest_5,y)

In [46]:
ver_resultados()

,fit_time,score_time,test_score,train_score,fit_time_idx,score_time_idx,test_score_idx,train_score_idx
pelis_rf20_rf,0.095967,0.002739,4.115929e+07,1.760635e+07,2.385165,3.962608,1.015986,1.000000
pelis_x_kbest_5,0.040235,0.000691,4.051167e+07,3.879946e+07,1.000000,1.000000,1.000000,2.203719